apturl==0.5.2
asn1crypto==0.24.0
astroid==1.6.3
autopep8==1.3.5
beautifulsoup4==4.6.0
blinker==1.3
Brlapi==0.6.5
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
clearbit==0.1.7
command-not-found==0.3
cryptography==1.9
cupshelpers==1.0
decorator==4.0.11
defer==1.0.6
distro-info==0.17
Django==2.0.4
django-jwt-auth==0.0.2
django-url-shortening==1.0.0
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
et-xmlfile==1.0.1
feedparser==5.1.3
flake8==3.5.0
gcloud==0.17.0
google-api-python-client==1.6.7
googleapis-common-protos==1.5.3
html5lib==0.999999999
httplib2==0.11.3
idna==2.6
imageio==2.1.2
isort==4.3.4
jdcal==1.4
jws==0.1.3
jwt==0.5.3
keyring==10.4.0
keyrings.alt==2.2
language-selector==0.1
launchpadlib==1.10.5
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lazy-object-proxy==1.3.1
louis==3.0.0
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
moviepy==0.2.3.2
numpy==1.14.2
oauth==1.0.1
oauth2client==4.1.2
oauthlib==2.0.1
olefile==0.44
openpyxl==2.5.3
peewee==3.2.2
pexpect==4.2.1
Pillow==6.2.0
protobuf==3.5.2.post1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycodestyle==2.4.0
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.4.3
pycups==1.9.73
pyflakes==1.6.0
pygobject==3.24.1
PyJWT==1.6.1
pylint==1.8.4
PyPDF2==1.26.0
Pyrebase==3.0.27
python-apt==1.4.0b3
python-debian==0.1.30
python-jwt==2.0.1
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
reportlab==3.4.0
requests==2.18.4
requests-toolbelt==0.7.0
rsa==3.4.2
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
simplejson==3.11.1
six==1.11.0
system-service==0.3
systemd-python==234
tqdm==4.11.2
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
unity-tweak-tool==0.0.7
uritemplate==3.0.0
urllib3==1.22
usb-creator==0.3.3
virtualenv==15.2.0
wadllib==1.3.2
webencodings==0.5
wget==3.2
wrapt==1.10.11
xkit==0.0.0
zope.interface==4.3.2
